layout{
    focus-ring{
        active-gradient from="#8bd0efcc" to="#c6c2eacc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#353a3d"
        urgent-color "#ffb4ab"
    }
}
